@model Paginacion<ReservaVehiculos.Models.Reserva>

@{
    ViewData["Title"] = "Reservas Vehiculos";
}

<h1>Lista Reservas</h1>
<div class="modal-footer">
        <a asp-action="Create"><button class="btn btn-primary" style="float:right">Crear Nueva</button></a>
</div>
<div class="row">
    <div class="col-md-12">
        <form asp-action="Index" method="get">
            <div class="form-actions no-color">
                <p>
                    Filtro Lugar Recogida: <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
                    <input type="submit" value="Buscar" class="btn btn-secondary" />
                    <a asp-action="Index">Todos los registros</a> | Registros Mostrados @Model.TotalR
                </p>
            </div>
        </form>
        <table class="table small table-responsive-sm table-striped table-hover table-bordered">
            <thead class="table table-primary">
                <tr>
                    <th>
                        Nombre Cliente
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["FechaPSortParm"]" asp-route-currenFilter="@ViewData["CurrentFilter"]">Fecha Pickup</a>
                    </th>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["LugarPSortParm"]" asp-route-currenFilter="@ViewData["CurrentFilter"]">Lugar Pickup</a>
                    </th>
                    <th>
                        Fecha Dropoff
                    </th>
                    <th>
                        Lugar Dropoff
                    </th>
                    <th>
                        Marca
                    </th>
                    <th>
                        Modelo
                    </th>
                    <th>
                        Precio
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NombreCliente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Correo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaPickup)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LugarPickup)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaDropoff)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LugarDropoff)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Marca)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Modelo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Precio)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Reservaid">Editar</a> |
                            <a asp-action="Details" asp-route-id="@item.Reservaid">Detalles</a> |
                            <a asp-action="Delete" asp-route-id="@item.Reservaid">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
    @{
        var prevDisable = !Model.HasPreviewPage ? "disabled" : "";
        var nextDisable = !Model.HasNextPage ? "disabled" : "";
    }
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@(Model.PageIndex - 1)"
       asp-route-currenFilter="@ViewData["CurrentFilter"]"
       class="btn btn-light @prevDisable">
        Anterior
    </a>
    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-page="@i"
           asp-route-currenFilter="@ViewData["CurrentFilter"]"
           class="btn btn-info">
            @i
        </a>
    }
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@(Model.PageIndex + 1)"
       asp-route-currenFilter="@ViewData["CurrentFilter"]"
       class="btn btn-light @nextDisable">
        Siguiente
    </a>
